body {
  font-family: "Nunito Sans", sans-serif;
  color: #474747;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: #242a3a;
}

h2 {
  font-size: 40px;
}
@media screen and (max-width: 1200px) {
  h2 {
    font-size: 36px;
  }
}

button:focus, a:focus {
  outline: 0;
}

a:hover {
  text-decoration: none;
}

.row {
  margin: 0;
}

.featured .featured-text .inquire-btn a, .trip-block .view a, .about-block .about-btn a, .grey-block .view-button a {
  border: 1px solid #242a3a;
  background: white;
  padding: 10px 30px;
  color: #242a3a;
  font-size: 14px;
  transition: all 0.5s;
}
.featured .featured-text .inquire-btn a:hover, .trip-block .view a:hover, .about-block .about-btn a:hover, .grey-block .view-button a:hover {
  background: #0089c9;
  border-color: #0089c9;
  color: #fff;
}

.footer .title span, .article-block span, .featured .featured-text span.title, .trip-block span, .about-block .detail span, .grey-block .content-wrapper .title span {
  color: #0089c9;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 18px;
}

body.hide-scroll {
  height: 100%;
  overflow-y: hidden;
}

.site-header .header-wrapper {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  left: 0px;
  opacity: 95%;
}
@media screen and (max-width: 1200px) {
  .site-header .header-wrapper {
    position: relative;
    opacity: 1;
  }
}
.site-header .header-wrapper .header-top {
  background: #262d3deb;
}
@media screen and (max-width: 1200px) {
  .site-header .header-wrapper .header-top {
    display: none;
  }
}
.site-header .header-wrapper .header-top ul.header-info, .site-header .header-wrapper .header-top ul.contact-info {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.site-header .header-wrapper .header-top ul.header-info li, .site-header .header-wrapper .header-top ul.contact-info li {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  padding: 4px 0;
}
.site-header .header-wrapper .header-top ul.header-info li p, .site-header .header-wrapper .header-top ul.contact-info li p {
  margin-bottom: 0;
  border-right: 1px solid #ffffff4a;
  padding: 0 10px;
}
.site-header .header-wrapper .header-top ul.header-info li:first-child p, .site-header .header-wrapper .header-top ul.contact-info li:first-child p {
  padding-left: 0;
}
.site-header .header-wrapper .header-top ul.header-info li:last-child p, .site-header .header-wrapper .header-top ul.contact-info li:last-child p {
  border-right: 0px;
}
.site-header .header-wrapper .header-top ul.contact-info {
  text-align: right;
}
.site-header .header-wrapper .header-top ul.contact-info a {
  color: #fff;
  text-decoration: none;
}
.site-header .header-wrapper .header-mobile {
  display: none;
}
@media screen and (max-width: 1200px) {
  .site-header .header-wrapper .header-mobile {
    display: block;
  }
}
.site-header .header-wrapper .header-mobile .logo-wrapper #menu-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: #262d3d;
}
.site-header .header-wrapper .logo-wrapper {
  position: absolute;
  left: -30px;
}
@media screen and (max-width: 1200px) {
  .site-header .header-wrapper .logo-wrapper {
    position: relative;
    left: 0;
    height: 100%;
  }
}
.site-header .header-wrapper .logo-wrapper img {
  width: 120px;
}
.site-header .header-wrapper .container {
  position: relative;
}
.site-header .main-nav {
  background: #00000096;
}
@media screen and (max-width: 1200px) {
  .site-header .main-nav {
    position: absolute;
    width: 100%;
    background: #262d3d;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 768px) {
  .site-header .main-nav .row {
    margin: 0 -15px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .site-header .main-nav .row .offset-lg-2 {
    margin-left: 0;
  }
}
.site-header .main-nav ul.main-menu {
  list-style: none;
  padding: 6px 0;
  margin-bottom: 0px;
}
.site-header .main-nav ul.main-menu li {
  display: inline-block;
  padding-right: 24px;
}
@media screen and (max-width: 1200px) {
  .site-header .main-nav ul.main-menu li {
    display: block;
    padding: 10px 40px;
    border-bottom: 1px solid #ffffff1c;
  }
}
.site-header .main-nav ul.main-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  .site-header .main-nav ul.main-menu li a {
    font-size: 18px;
  }
}
.site-header .main-nav ul.main-menu li.parent a {
  position: relative;
}
.site-header .main-nav ul.main-menu li.parent a:after {
  content: url("../images/arrow-down.png");
  position: absolute;
  top: 0;
  right: -15px;
}
.site-header .main-nav .mobile-detail {
  display: none;
}
@media screen and (max-width: 768px) {
  .site-header .main-nav .mobile-detail {
    display: block;
    padding: 0 30px;
  }
}
.site-header .main-nav .mobile-detail ul {
  padding-left: 0;
  list-style: none;
}
.site-header .main-nav .mobile-detail ul li p, .site-header .main-nav .mobile-detail ul li a {
  color: #fff;
  margin-bottom: 0;
}
@media screen and (max-width: 1200px) {
  .site-header .main-nav.expand {
    max-height: calc(100vh - 50px);
    z-index: 999;
    overflow: auto;
    z-index: 999;
    padding-bottom: 15px;
  }
}

.banner-home .banner-bg {
  height: 100vh;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .banner-home .banner-bg {
    height: 550px;
  }
}
.banner-home .banner-bg .row, .banner-home .banner-bg .container {
  height: 100%;
}
.banner-home .banner-bg .banner-content {
  width: 600px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .banner-home .banner-bg .banner-content {
    width: auto;
  }
}
.banner-home .banner-bg .banner-content .title {
  color: #fff;
  font-weight: bold;
  font-size: 70px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .banner-home .banner-bg .banner-content .title {
    font-size: 50px;
  }
}
.banner-home .banner-bg .banner-content .btn-main {
  background-color: #0089c9;
  color: #fff;
  padding: 8px 30px;
  border: 0px;
  cursor: pointer;
  display: inline-block;
}
.banner-home .banner-bg .banner-content .btn-main:hover {
  opacity: 0.85;
}

.grey-block {
  background-color: #f7f6f0;
  padding: 100px 0;
  height: 550px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .grey-block {
    height: auto;
    padding: 80px 0;
  }
}
@media only screen and (min-device-width: 1500px) and (max-device-width: 3000px) and (-webkit-min-device-pixel-ratio: 1) {
  .grey-block {
    height: 700px;
  }
}
.grey-block .slides {
  position: absolute;
  right: 0;
  margin-right: 0px;
  padding-right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1024px) {
  .grey-block .slides {
    position: relative;
    top: 0;
    transform: translateY(0);
  }
}
.grey-block .content-wrapper {
  padding: 30px 50px 50px 0;
}
@media screen and (max-width: 768px) {
  .grey-block .content-wrapper {
    height: 100%;
    width: 100%;
    padding: 0 0 30px 0;
    position: relative;
    top: unset;
    left: unset;
    transform: translateY(0%);
  }
}
@media only screen and (min-device-width: 1500px) and (max-device-width: 3000px) and (-webkit-min-device-pixel-ratio: 1) {
  .grey-block .content-wrapper {
    padding: 120px 85px 50px 0px;
  }
}
.grey-block .content-wrapper h2 {
  margin: 10px 0;
  color: #242a3a;
}
.grey-block .content-wrapper .slides-arrow {
  display: flex;
  margin-top: 45px;
}
@media screen and (max-width: 1600px) {
  .grey-block .content-wrapper .slides-arrow {
    margin-top: 20px;
  }
}
.grey-block .content-wrapper .slides-arrow .arrow-left, .grey-block .content-wrapper .slides-arrow .arrow-right {
  background: #fff;
}
.grey-block .content-wrapper .slides-arrow .arrow-left img, .grey-block .content-wrapper .slides-arrow .arrow-right img {
  border: 2px solid #e5f3f9;
  border-radius: 50%;
  padding: 10px;
  background: #fff;
  cursor: pointer;
  margin: 0 5px;
}
.grey-block .content-wrapper .slides-arrow .arrow-left:hover, .grey-block .content-wrapper .slides-arrow .arrow-right:hover {
  opacity: 0.85;
}
.grey-block .slider-block-1 .slick-list {
  padding: 0 5% 0 0 !important;
}
.grey-block .slider-block-1 .slick-list .slider-item {
  position: relative;
}
.grey-block .slider-block-1 .slick-list .slider-item .image-wrapper img {
  width: 100%;
  margin: auto;
  object-fit: cover;
}
.grey-block .slider-block-1 .slick-list .slider-item .text-section {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0));
  padding: 15px;
  color: #fff;
}
.grey-block .slider-block-1 .slick-list .slider-item .text-section p {
  position: relative;
  font-size: 20px;
}
.grey-block .slider-block-1 .slick-list .slider-item .text-section p:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #fff;
  bottom: -10px;
  left: 0;
}
.grey-block .slider-block-1 .slick-list .slider-item .text-section span {
  font-size: 14px;
  position: relative;
}
.grey-block .slider-block-1 .slick-list .slider-item .text-section span a {
  color: #fff;
}
.grey-block .slider-block-1 .slick-list .slider-item .text-section span:after {
  content: url(../images/right-anchor.png);
  position: absolute;
  bottom: -4px;
  right: -15px;
}
.grey-block .slider-block-1 .slick-list .slick-slide {
  margin-right: 15px;
}
.grey-block .slider-block-1 .slick-list .slick-slide:focus {
  outline: 0 !important;
}
.grey-block .view-button {
  margin-top: 50px;
}
.about-block {
  background-image: url("../images/bg-adventure.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 350px;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .about-block {
    padding-top: 200px;
  }
}
.about-block .about-gallery {
  position: relative;
  height: 300px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .about-block .about-gallery {
    height: 400px;
  }
}
.about-block .about-gallery img:first-child {
  position: absolute;
  width: 240px;
  top: -40%;
  right: 0;
}
@media screen and (min-width: 1900px) {
  .about-block .about-gallery img:first-child {
    top: -45%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .about-block .about-gallery img:first-child {
    top: -40%;
  }
}
@media screen and (max-width: 767px) {
  .about-block .about-gallery img:first-child {
    width: 135px;
    top: -40%;
  }
}
.about-block .about-gallery img:nth-child(2) {
  position: absolute;
  right: 52%;
  top: -10%;
  width: 285px;
}
@media screen and (min-width: 1900px) {
  .about-block .about-gallery img:nth-child(2) {
    right: 42%;
    top: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .about-block .about-gallery img:nth-child(2) {
    right: 35%;
    top: -25%;
  }
}
@media screen and (max-width: 767px) {
  .about-block .about-gallery img:nth-child(2) {
    right: 42%;
    top: -9%;
    width: 170px;
  }
}
.about-block .about-gallery img:last-child {
  position: absolute;
  width: 285px;
  top: 56%;
  right: 0;
}
@media screen and (min-width: 1900px) {
  .about-block .about-gallery img:last-child {
    right: 0;
    top: 70%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .about-block .about-gallery img:last-child {
    top: 25%;
  }
}
@media screen and (max-width: 767px) {
  .about-block .about-gallery img:last-child {
    width: 180px;
    top: 30%;
  }
}
.about-block .detail {
  padding-left: 15px;
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  .about-block .detail {
    padding: 0;
    margin-top: 0;
  }
}
.about-block .detail h2 {
  color: #242a3a;
  margin: 10px 0;
}
.about-block .about-btn {
  margin-top: 38px;
  padding-left: 15px;
}
@media screen and (max-width: 768px) {
  .about-block .about-btn {
    padding-left: 0;
  }
}
.trip-block {
  text-align: center;
  padding: 80px 0;
  padding-bottom: 140px;
}
.trip-block h2 {
  margin-top: 5px;
}
.trip-block .trip-wrapper {
  margin-top: 30px;
  position: relative;
}
.trip-block .trip-wrapper img {
  width: 100%;
}
.trip-block .trip-wrapper .intro-text {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin-bottom: 0px;
  color: #121212;
  font-weight: bold;
}
.trip-block .view {
  margin-top: 140px;
}
@media screen and (max-width: 768px) {
  .trip-block .view {
    margin-top: 50px;
  }
}
.featured {
  padding-bottom: 100px;
  background-color: #f7f6f0;
}
.featured .featured-img {
  margin-top: -50px;
}
.featured .featured-img img {
  width: 100%;
}
.featured .featured-text {
  margin-top: 60px;
  margin-left: 10px;
}
.featured .featured-text h2 {
  margin-left: -65px;
}
@media screen and (max-width: 768px) {
  .featured .featured-text h2 {
    margin-left: 0;
  }
}
.featured .featured-text span.title {
  margin-left: 10px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .featured .featured-text span.title {
    margin-left: 0;
  }
}
.featured .featured-text span.title:before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  top: 50%;
  left: -40px;
  z-index: 9999;
  background: #0089c9;
  transform: translateY(-50%);
}
.featured .featured-text p {
  margin: 20px 0px;
}
.featured .featured-text .price-block p {
  margin-bottom: 0px;
}
.featured .featured-text .price-block span {
  font-size: 36px;
  color: #0089c9;
  font-weight: bold;
}
.featured .featured-text .inquire-btn {
  margin-top: 30px;
}
.featured .featured-text .inquire-btn a {
  background: #0089c9;
  color: #fff;
  border: 0;
}
.featured .featured-text .inquire-btn a:hover {
  opacity: 0.85;
}

.departure-block {
  height: 580px;
  background-image: url("../images/departure-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  z-index: 1;
  padding: 60px 0;
  display: flex;
  width: 100%;
  align-items: center;
}
.departure-block .row {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .departure-block {
    height: auto;
  }
}
.departure-block:after {
  content: "";
  background: #000000a3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.departure-block .departure-table {
  width: 100%;
  background: #fff;
}
.departure-block .departure-table tr {
  border-bottom: 2px solid rgba(185, 182, 182, 0.2);
}
.departure-block .departure-table tr td, .departure-block .departure-table tr th {
  padding: 8px 0px 8px 10px;
}
.departure-block .departure-table tr .view-btn a {
  background: #8ab61e;
  float: right;
  padding: 5px 15px;
  color: #fff;
}
.departure-block .departure-table tr .view-btn a:hover {
  opacity: 0.85;
}
.departure-block span {
  color: #8ab61e;
  text-align: center;
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}
.departure-block h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.article-block {
  padding: 80px 0;
}
.article-block span {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}
.article-block h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #000;
}
.article-block img {
  width: 100%;
}
.article-block .article-text {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.article-block .article-text h3 {
  font-size: 24px;
  height: 75px;
  margin-top: 10px;
}
.article-block .article-text .article-detail {
  display: flex;
}
.article-block .article-text .article-detail span {
  color: #b8b8b8;
}
.article-block .article-text .article-detail span:first-child:after {
  content: "-";
  margin: 0 10px;
}

.testimonial-block {
  margin-bottom: 80px;
  background: #8ab61e;
  position: relative;
}
@media screen and (max-width: 768px) {
  .testimonial-block {
    background: #fff;
  }
}
@media screen and (max-width: 1200px) {
  .testimonial-block .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}
.testimonial-block .container .col-12 {
  padding: 0;
  margin: 0;
}
.testimonial-block .testimonial-title {
  padding: 125px 50px 0px 0;
  height: 500px;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .testimonial-block .testimonial-title {
    height: 300px;
    background: #8ab61e;
  }
}
@media screen and (max-width: 1200px) {
  .testimonial-block .testimonial-title {
    padding: 95px 50px 50px 65px;
  }
}
.testimonial-block .testimonial-title .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.testimonial-block .testimonial-title span {
  font-weight: 600;
}
.testimonial-block .testimonial-title h2 {
  color: #fff;
}
.testimonial-block .slides-arrow {
  margin-top: 60px;
  display: flex;
}
.testimonial-block .slides-arrow .testimonial-arrow-left, .testimonial-block .slides-arrow .testimonial-arrow-right {
  background: #fff;
}
.testimonial-block .slides-arrow .testimonial-arrow-left img, .testimonial-block .slides-arrow .testimonial-arrow-right img {
  border: 2px solid #e5f3f9;
  border-radius: 50%;
  padding: 10px;
  background: #fff;
  cursor: pointer;
  margin: 0 5px;
}
.testimonial-block .slides-arrow .testimonial-arrow-left img:hover, .testimonial-block .slides-arrow .testimonial-arrow-right img:hover {
  opacity: 0.85;
}
.testimonial-block .slider-position {
  position: absolute;
  right: 0;
  padding-right: 0;
}
@media screen and (max-width: 1200px) {
  .testimonial-block .slider-position {
    position: relative;
  }
}
.testimonial-block .slider-position .testimonial-slider {
  display: flex;
  align-items: center;
  height: 500px;
  background-color: #f9f9f9;
}
@media screen and (max-width: 768px) {
  .testimonial-block .slider-position .testimonial-slider {
    height: auto;
  }
}
.testimonial-block .slider-position .testimonial-slider .block-wrapper {
  display: flex;
  opacity: 0.4;
}
@media screen and (max-width: 481px) {
  .testimonial-block .slider-position .testimonial-slider .block-wrapper {
    flex-direction: column;
  }
}
.testimonial-block .slider-position .testimonial-slider .block-wrapper .image {
  width: 240px;
  background: #f7f6f0;
  text-align: center;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .testimonial-block .slider-position .testimonial-slider .block-wrapper .image {
    width: 100%;
  }
}
.testimonial-block .slider-position .testimonial-slider .block-wrapper .image img {
  width: 100px;
}
.testimonial-block .slider-position .testimonial-slider .block-wrapper .image .name {
  color: #121212;
  font-weight: 600;
  margin-bottom: 5px;
}
.testimonial-block .slider-position .testimonial-slider .block-wrapper .review-section {
  width: calc(100% - 240px);
  background: #fff;
  padding: 80px 40px;
}
@media screen and (max-width: 1200px) {
  .testimonial-block .slider-position .testimonial-slider .block-wrapper .review-section {
    width: 100%;
  }
}
.testimonial-block .slider-position .testimonial-slider .block-wrapper .review-section h4 {
  font-size: 20px;
  color: #000;
  font-family: "Nunito Sans";
}
.testimonial-block .slider-position .testimonial-slider .block-wrapper .review-section .rates {
  display: flex;
  padding: 5px 0 10px 0;
}
@media screen and (max-width: 768px) {
  .testimonial-block .slider-position .testimonial-slider .block-wrapper .review-section .rates {
    flex-direction: column;
  }
}
.testimonial-block .slider-position .testimonial-slider .block-wrapper .review-section .rates .rating {
  display: flex;
}
.testimonial-block .slider-position .testimonial-slider .block-wrapper .review-section .rates .rating img {
  width: 110px;
  height: 22px;
}
@media screen and (max-width: 768px) {
  .testimonial-block .slider-position .testimonial-slider .block-wrapper .review-section .rates .rating {
    margin-bottom: 5px;
  }
}
.testimonial-block .slider-position .testimonial-slider .block-wrapper .review-section .rates .rating span {
  padding: 0 10px;
}
.testimonial-block .slider-position .testimonial-slider .block-wrapper.slick-current {
  opacity: 1;
}
.testimonial-block .slider-position .testimonial-slider .slick-slide:focus {
  outline: 0 !important;
}
.testimonial-block .slider-position .testimonial-slider .slick-list {
  padding-right: 30%;
  margin-left: -85px;
}
@media screen and (max-width: 1500px) {
  .testimonial-block .slider-position .testimonial-slider .slick-list {
    padding-right: 15%;
  }
}
@media screen and (max-width: 1300px) {
  .testimonial-block .slider-position .testimonial-slider .slick-list {
    padding-right: 0;
    margin-left: 0;
  }
}

.footer {
  background-image: url("../images/bg-list.jpg");
  background-size: cover;
}
.footer .row.white-bg {
  background-color: #ffffffed;
  padding: 50px 30px;
}
.footer .title {
  margin-bottom: 20px;
  position: relative;
}
.footer .title span {
  text-transform: none;
}
.footer .title:after {
  position: absolute;
  content: "";
  background: #DEDEDE;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -10px;
}
.footer ul.listings {
  list-style: none;
  padding-left: 0;
}
.footer ul.listings li {
  padding: 5px 0;
}
.footer form input {
  background: #fff;
  border: 1px solid #DEDEDE;
  height: 35px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  color: #DEDEDE;
}
.footer form input:focus {
  outline: 0;
}
.footer form button {
  background: #8ab61e;
  width: 100%;
  border: 0;
  height: 35px;
  color: #fff;
  cursor: pointer;
}
.footer form button:hover {
  opacity: 0.85;
}
.footer .logos {
  background: #fff;
  margin: 0 50px;
  position: relative;
}
.footer .logos::after {
  content: "";
  position: absolute;
  width: 82%;
  height: 2px;
  background: #dedede;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.footer .logos ul {
  padding: 0;
  list-style: none;
  text-align: center;
}
.footer .logos ul li {
  display: inline-block;
  padding: 40px 20px;
}
.footer .logos ul li img {
  width: 60px;
}
@media screen and (max-width: 768px) {
  .footer .copyright {
    text-align: center;
  }
}
.footer .copyright .developed-by {
  float: right;
}
@media screen and (max-width: 768px) {
  .footer .copyright .developed-by {
    text-align: center;
    float: none;
  }
}
.footer .copyright .developed-by a {
  display: block;
  color: #8ab61e;
  text-align: right;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .footer .copyright .developed-by a {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
