$primary:#0089c9;
$secondary:#000000;
body{
    font-family: 'Nunito Sans', sans-serif;
    color: #474747;
    font-size: 18px;
}
h1,h2,h3,h4{
    font-family: 'Playfair Display', serif;  
    font-weight: bold;
    color:#242a3a;
}
h2{
    font-size: 40px;
    @media screen and (max-width:1200px){
        font-size: 36px;
       } 
}
button,a{
    &:focus{
        outline:0;
    }
}

a{
    &:hover{
        text-decoration: none;
    }
}
.row{
    margin: 0;
    
}
%button{
    border: 1px solid #242a3a;
    background: white;
    padding: 10px 30px;
    color: #242a3a;
    font-size: 14px;
    transition: all .5s;
    &:hover{
        background:$primary;
        border-color: $primary; 
        color: #fff;
    }
}
%subtitle{
    color: $primary;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 18px;
}
body.hide-scroll{
    height: 100%;
    overflow-y: hidden;
}
.site-header{
    .header-wrapper{
        position: absolute;
        top: 0px;
        z-index: 1;
        width: 100%;
        left: 0px;
        opacity: 95%;
        
        @media screen and (max-width:1200px){
            position: relative;
            opacity: 1;
        }
        .header-top{
            background: #262d3deb;
            @media screen and (max-width:1200px){
                display: none;
            }
            ul.header-info,ul.contact-info{
                list-style: none;
                margin-bottom: 0;
                padding-left: 0;
                li{
                    display: inline-block;
                    color: #fff;
                    font-size: 12px;
                    padding:4px 0;
                    p{
                       margin-bottom: 0;
                       border-right: 1px solid #ffffff4a;
                       padding:0 10px;
                      
                    }
                    &:first-child{
                        p{
                        
                            padding-left: 0;
                        }
                    }
                   &:last-child{
                       p{
                           border-right: 0px;
                       }
                   }
                }
                
            }
            ul.contact-info{
                text-align: right;
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        .header-mobile{
           display: none;
           @media screen and (max-width:1200px){
            display: block;
            
           } 
           .logo-wrapper{
            #menu-icon{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 25px;
                color: #262d3d;
            }
           }
        }
        .logo-wrapper{
            position: absolute;
            left: -30px;
            @media screen and (max-width:1200px){
                position: relative;
                left: 0;
                height: 100%;
            }
            img{
                width: 120px;
            }
        }
        .container{
            position: relative;
            
        }
       
    }
    .main-nav{
        background: #00000096;
        @media screen and (max-width:1200px){
            position: absolute;
            width: 100%;
            background: #262d3d;;
            max-height: 0;
            overflow: hidden;
            padding: 0;
            transition: all .5s;
        }
        .row{
            @media screen and (max-width:768px){
                margin: 0 -15px;
            }
            .offset-lg-2{
                @media only screen 
                and (min-device-width: 768px) 
                and (max-device-width: 1200px) 
                and (-webkit-min-device-pixel-ratio: 1) {
                    margin-left: 0;
                 }
            }
        }
        ul.main-menu{
            list-style: none;
            padding: 6px 0;
            margin-bottom: 0px;
           
            
            li{
                display: inline-block;
                padding-right: 24px;
                @media screen and (max-width:1200px){
                    display: block;
                    padding: 10px 40px;
                    border-bottom: 1px solid #ffffff1c;
                }
               
               
                a{
                    color: #fff;
                    text-decoration: none;
                    font-size: 14px;
                    @media screen and (max-width:1200px){
                        font-size: 18px;
                    }
                    

                }
            }
            li.parent{
              
                a{
                    position: relative;
                    &:after{
                        content: url('../images/arrow-down.png');
                        position: absolute;
                        top:0;
                        right: -15px;
                    }
                }
            }
        }
       .mobile-detail{
       display: none;
       @media screen and (max-width:768px){
           display: block;
           padding: 0 30px;
       }
       ul{
           padding-left: 0;
           list-style: none;
           li{
               p,a{
                   color: #fff;
                   margin-bottom: 0;
               }
           }
       }
       }

    }
    .main-nav.expand{
        @media screen and (max-width:1200px){
            max-height: calc(100vh - 50px);
            z-index: 999;
            overflow: auto;
            z-index: 999;
            padding-bottom: 15px;
        }
        
    }
}
.banner-home{
    .banner-bg{
        height:100vh;
        background-image: url('../images/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        @media screen and (max-width:768px){
            height: 550px;
        }
        .row,.container{
            height: 100%;
        }
        .banner-content{
            width: 600px;
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
                
                @media screen and (max-width:768px){
                        width: auto;
                    }
                
                .title{
                    color: #fff;
                    font-weight: bold;
                    font-size: 70px;
                    margin-bottom: 40px;
                    @media screen and (max-width:768px){
                        font-size: 50px;
                    }
                    
                }
                .btn-main{
                    background-color: $primary;
                    color: #fff;
                    padding: 8px 30px;
                    border: 0px;
                    cursor: pointer;
                    display: inline-block;
                    &:hover{
                        opacity: .85;
                    }
                }
        }
        
    }
}
.grey-block{
    background-color: #f7f6f0;
    padding: 100px 0;
    height: 550px;
    position: relative;
    @media screen and (max-width:768px){
        height: auto;
        padding: 80px 0;
    }
    @media only screen 
    and (min-device-width: 1500px) 
    and (max-device-width: 3000px) 
    and (-webkit-min-device-pixel-ratio: 1) {
        height:700px;
        
    }
    .slides{
        position: absolute;
        right: 0;
        margin-right: 0px;
        padding-right: 0;
        top: 50%;
        transform: translateY(-50%);
        @media screen and (max-width:1024px){
            position: relative;
            top: 0;
            transform: translateY(0);
        }
    }
    .content-wrapper{
        padding: 30px 50px 50px 0;
        @media screen and (max-width:768px){
            height: 100%;
            width: 100%;
            padding: 0 0 30px 0;
            position: relative;
            top: unset;
            left: unset;
            transform: translateY(0%);
        }
        
        @media only screen 
        and (min-device-width: 1500px) 
        and (max-device-width: 3000px) 
        and (-webkit-min-device-pixel-ratio: 1) {
            padding: 120px 85px 50px 0px;
            
        }
        .title{
            span{
                @extend %subtitle;
            }
           
        }
        h2{
            margin: 10px 0;
            color: #242a3a;
        }
        .slides-arrow{
            display: flex;
            margin-top: 45px;
            @media screen and (max-width:1600px){
                margin-top: 20px;
            }
            .arrow-left,.arrow-right {
                background: #fff;
                
                img{
                    border: 2px solid #e5f3f9;
                    border-radius: 50%;
                    padding: 10px;
                    background: #fff;
                    cursor: pointer;
                    margin: 0 5px;
                }
                &:hover{
                    opacity: .85;
                }
               
            }
            
          
          }
        
    }
   
   .slider-block-1{
    .slick-list{
        padding:0 5% 0 0 !important;
        .slider-item{
            position: relative;
            .image-wrapper{
               img{
                    width: 100%;
                    margin: auto;
                    object-fit: cover;
                    }
            }
           .text-section{
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                background: linear-gradient(to top, rgb(0 0 0 / 42%), rgba(0, 0, 0, 0));
                padding: 15px;
                color: #fff;
                p{
                    position: relative;
                    font-size: 20px;
                    &:after{
                        content: "";
                        position: absolute;
                        width: 30px;
                        height: 1px;
                        background-color: #fff;
                        bottom: -10px;
                        left: 0;
                    }
                }
                span{
                    font-size: 14px;
                    position: relative;
                    a{
                        color: #fff;
                    }
                    &:after{
                        content: url(../images/right-anchor.png);
                        position: absolute;
                        bottom: -4px;
                        right: -15px;
                    }
                }
           }
        }
        .slick-slide{
            margin-right: 15px;
            &:focus{
                outline: 0 !important;
            }
        }
      }
  
   }
      .view-button{
        margin-top: 50px;
       
          a{
            @extend %button;
          }
      }
      
}
.about-block{
    background-image: url('../images/bg-adventure.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 350px;
    background-position: center;
    @media screen and (max-width:768px){
        padding-top: 200px;
    }
    .about-gallery{
        position: relative;
        height: 300px;
        @media only screen 
                and (min-device-width: 768px) 
                and (max-device-width: 1024px) 
                and (-webkit-min-device-pixel-ratio: 1) {
                    height: 400px;
                }
        img{
            &:first-child{
                position: absolute;
                width: 240px;
                top: -40%;
                right: 0; 
                @media screen and (min-width:1900px){
                    top: -45%;
                   
                }
                @media only screen 
                and (min-device-width: 768px) 
                and (max-device-width: 1024px) 
                and (-webkit-min-device-pixel-ratio: 1) {
                    top: -40%;
                }
                @media screen and (max-width:767px){
                    width: 135px;
                    top: -40%;
                }
                
            }
            &:nth-child(2){
                position: absolute;
                right: 52%;
                top: -10%;
                width: 285px;
                @media screen and (min-width:1900px){
                    right: 42%;
                    top: 0; 
                }
                @media only screen 
                and (min-device-width: 768px) 
                and (max-device-width: 1024px) 
                and (-webkit-min-device-pixel-ratio: 1) {
                    right: 35%;
                    top: -25%;
                }
                @media screen and (max-width:767px){
                    right: 42%;
                    top: -9%;
                    width: 170px;
                }
                
            }
            &:last-child{
                position: absolute;
                width: 285px;
                top: 56%;
                right:0;
                @media screen and (min-width:1900px){
                    right: 0;
                    top: 70%;
                }
                @media only screen 
                and (min-device-width: 768px) 
                and (max-device-width: 1024px) 
                and (-webkit-min-device-pixel-ratio: 1) {
                    top: 25%
                }
                @media screen and (max-width:767px){
                    width: 180px;
                    top: 30%;
                }
                
            }
        }
    }
    .detail{
        padding-left: 15px;
        margin-top: 0px;
        @media screen and (max-width:768px){
            padding: 0;
            margin-top: 0;
        }
        span{
            @extend %subtitle;
        }
        h2 {
            color:#242a3a;
            margin: 10px 0;
        }
       
    }
    .about-btn{
        margin-top: 38px;
        padding-left: 15px;
        @media screen and (max-width:768px){
            padding-left: 0;
        }
        a{
            @extend %button;
            
          }
        
    }
}
.trip-block{
    text-align: center;
    padding:80px 0;
    padding-bottom: 140px;
    span{
        @extend %subtitle;
       
    }
    h2{
        margin-top: 5px;
    }
    .trip-wrapper{
        margin-top: 30px;
        position: relative;
        img{
            width: 100%;
        }
       .intro-text{
        position: absolute;
        left: 0px;
        bottom: 0px;
        margin-bottom: 0px;
        color: #121212;
        font-weight: bold;
       }
    }
    .view{
        margin-top: 140px;
        @media screen and (max-width:768px){
            margin-top: 50px;
        }
        a{
            @extend %button
        }
    }
   
}
.featured{
    padding-bottom: 100px;
    background-color: #f7f6f0;
    .featured-img{
        margin-top: -50px;
        
        img{
            width: 100%;
        }
    }
    .featured-text{
        margin-top: 60px;
        margin-left: 10px;
        h2{
            margin-left: -65px;
            @media screen and (max-width:768px){
                margin-left: 0;
            }
        }
        span.title{
            @extend %subtitle;
            margin-left: 10px;
            position: relative;
            @media screen and (max-width:768px){
                margin-left: 0;
            }
            
            &:before{
                position: absolute;
                content: "";
                width: 35px;
                height: 2px;
                top: 50%;
                left: -40px;
                z-index: 9999;
                background: $primary;
                transform: translateY(-50%);
            }
        }
        p{
            margin: 20px 0px;
            
        }
        .price-block{
            p{
                margin-bottom: 0px;
            }
            span{
                font-size: 36px;
                color: $primary;
                font-weight: bold;
                
            }
        }
        .inquire-btn{
            margin-top: 30px;
            a{
                @extend %button;
                background: $primary;
                color: #fff;
                border: 0;
                &:hover{
                    opacity: .85;
                }
            }
            
        }
    }
}
.departure-block{
    height: 580px;
    background-image: url('../images/departure-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    z-index: 1;
    padding: 60px 0;
    display: flex;
    width: 100%;
    align-items: center;
    .row{
        width: 100%;
    }
    @media screen and (max-width:768px){
        height: auto;

    }
    &:after{
        content: '';
        background: #000000a3;
        position: absolute;
        width:100%;
        height: 100%;
        top:0;
        left: 0;
        z-index: -1;
    }
    .departure-table{
        width: 100%;
        background: #fff;
        tr{
            border-bottom:2px solid rgba(185, 182, 182, 0.2);
            td,th{
                padding: 8px 0px 8px 10px;
            }
            .view-btn{
                a{
                    background: #8ab61e;
                    float: right;
                    padding: 5px 15px;
                    color: #fff;
                    &:hover{
                        opacity: .85;
                    }
                }
            }
        }
    }
    span{
        color: #8ab61e;
        text-align: center;
        display: block;
        font-weight: 600;
        margin-bottom: 10px;
    }
    h2{
        color: #fff;
        text-align: center;
        margin-bottom: 50px;
        
    }
}
.article-block{
    padding: 80px 0;
    span{
        @extend %subtitle;
        display: block;
        text-align: center;
        margin-bottom: 10px;
        font-size: 14px;
    }
    h2{
        text-align: center;
        margin-bottom: 50px;
        color: #000;
    }
    img{
        width: 100%;
    }
    .article-text{
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0,0,0,.07);
        h3{
            font-size: 24px;
            height: 75px;
            margin-top: 10px;
        }
        .article-detail{
            display: flex;
            span{
                color: #b8b8b8;
                &:first-child{
                    &:after{
                        content: "-";
                        margin: 0 10px;
                    }
                }
            }
        }
    }
    
}
.testimonial-block{
   margin-bottom: 80px;
   background: #8ab61e;
   position: relative;
   @media screen and (max-width:768px){
       background: #fff;
   }
   .container{
        @media screen and (max-width:1200px){
        max-width: 100%;
        padding: 0;
        margin: 0;
        }
        .col-12{
            padding: 0;
            margin: 0;
        }
   }
    .testimonial-title{
        padding: 125px 50px 0px 0;
        height: 500px;
        color: #fff;
        @media screen and (max-width:1200px){
            height: 300px;
            background: #8ab61e;
        }
       
           
           
            @media screen and (max-width:1200px){
                padding: 95px 50px 50px 65px;
            }
        .title{
            position: absolute;
            top:50%;
            transform: translateY(-50%);
        }
        span{
            font-weight: 600;
        }
        h2{
            color: #fff;
        }

    }
    .slides-arrow{
        margin-top: 60px;
        display: flex;
        .testimonial-arrow-left,.testimonial-arrow-right {
            background: #fff;
            
            img{
                border: 2px solid #e5f3f9;
                border-radius: 50%;
                padding: 10px;
                background: #fff;
                cursor: pointer;
                margin: 0 5px;
                &:hover{
                    opacity: .85;
                }
            }
           
           
        }
        
      
      }
    .slider-position{
        position: absolute;
        right: 0;
        padding-right: 0;
        @media screen and (max-width:1200px){
            position: relative;
        }
        .testimonial-slider{
            display: flex;
            align-items: center;
            height: 500px;
            background-color: #f9f9f9;
            @media screen and (max-width:768px){
                height: auto;
            }
            
            .block-wrapper {
                display: flex;
                opacity: .4;
                @media screen and (max-width:481px){
                    flex-direction: column;
                }
                .image{
                    width: 240px;
                    background: #f7f6f0;
                    text-align: center;
                    padding: 30px 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    @media screen and (max-width:1200px){
                        width: 100%;
                    }
    
                    img{
                        width: 100px;
                        
                    }
                    .name{
                        color: #121212;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }
            
                }
                .review-section{
                    width: calc(100% - 240px);
                    background: #fff;
                    padding: 80px 40px;
                    @media screen and (max-width:1200px){
                        width: 100%;
                    }
                    h4{
                        font-size: 20px;
                        color: #000;
                        font-family: 'Nunito Sans';
                    }
                    .rates{
                        display: flex;
                        padding: 5px 0 10px 0;
                        @media screen and (max-width:768px){
                            flex-direction: column;
                        }
                        .rating{
                            display: flex;
                            img{
                                width: 110px;
                                height: 22px;
                            }
                            @media screen and (max-width:768px){
                                margin-bottom: 5px;
                            }
                            span{
                                padding: 0 10px;
                            }
                        }
                    }
                }
            }
            .block-wrapper.slick-current{
                opacity: 1;
            }
            .slick-slide{
                &:focus{
                    outline: 0 !important;
                }
            }
            .slick-list{
                padding-right: 30%;
                margin-left: -85px;
              
                @media screen and (max-width:1500px){
                    padding-right: 15%;
                }
                @media screen and (max-width:1300px){
                    padding-right: 0;
                    margin-left: 0;
                }
                
            }
        }
    }
   
    
}
.footer{
    background-image: url('../images/bg-list.jpg');
    background-size: cover;
    .row.white-bg{
        background-color: #ffffffed;
        padding: 50px 30px;
    }
    .title{
        margin-bottom: 20px;
        span{
            @extend %subtitle;
            text-transform: none;
           
    
        }
        position: relative;
        &:after{
            position: absolute;
            content: '';
            background: #DEDEDE;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: -10px;
        }
    }
   
    ul.listings{
        list-style: none;
        padding-left: 0;
        li{
            padding: 5px 0;
        }

    }
    form{
        input{
            background: #fff;
            border: 1px solid #DEDEDE;
            height: 35px;
            margin-bottom: 10px;
            padding: 10px;
            width: 100%;
            color: #DEDEDE;
            &:focus{
                outline: 0;
            }
        }
        button{
            background: #8ab61e;
            width: 100%;
            border: 0;
            height: 35px;
            color: #fff;
            cursor: pointer;
            &:hover{
                opacity: .85;
            }
        }
    }
    .logos{
        background: #fff;
        margin: 0 50px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 82%;
            height: 2px;
            background: #dedede;
            top: 0px;
            left: 50%;
            transform: translateX(-50%)

        }
        ul{
            padding: 0;
            list-style: none;
            text-align: center;
            li{
                display: inline-block;
                padding: 40px 20px;
                img{
                    width: 60px;
                }

            }
        }
    }
    .copyright{
        @media screen and (max-width:768px){
            text-align: center;
        }
        .developed-by{
            float: right;
            @media screen and (max-width:768px){
                text-align: center;
                float: none;
            }
            a{
                display: block;
                color: #8ab61e;
                text-align: right;
                font-weight: 600;
                @media screen and (max-width:768px){
                    text-align: center;
                }
            }
        }
        
    }
}
